[2018-04-02 20:27] awkahrs opened #1 ""Waiting for connection""
I've installed the plugin for OBS and purchased the iOS app. Everything looks fine except I see "Waiting for connection" and "Settings." How do I get those to go away so I can actually use the iPhone as a webcam? Thanks!

[2018-04-02 20:51] wtsnz commented on #1
Hey @awkahrs!

Thanks for giving it a go 😄 - let's try and get it sorted for you..

So, currently, the connection process is a little more specific than I'd like it to be (I'm working on an update soon to improve it) - I wrote the steps I take normally on the FAQ part of the product website here https://will.townsend.io/products/obs-iphone/install/.

To save you the trouble, as you've already got

[2018-04-02 21:00] awkahrs commented on #1
Tried it again, still no luck. Is there supposed to be something specifically called "iOS Camera" that pops up? So far I've tried to set it up using a Video Capture Device:

![image](https://user-images.githubusercontent.com/38017390/38215853-e60c9e4e-367d-11e8-9e31-9ac55b0c439e.png)

I've also searched for any plugin files that installed, but haven't even seen those! Is it possible I installed an

[2018-04-02 21:14] wtsnz commented on #1
Intriguing..!

Inside OBS Studio you should see the 'iOS Camera' source in the plugin area like this:

![obs_21_0_3__mac__-_profile__untitled_-_scenes__untitled_and_desktop_and__waiting_for_connection__ _issue__1_ _wtsnz_obs-ios-camera-source](https://user-images.githubusercontent.com/665916/38216546-38d9ecac-371f-11e8-9479-8f88e7a13fc7.png)

That's what we need to use to connect to the iOS app.

[2018-04-03 20:49] putiatin commented on #1
Hello @awkahrs
Due to log of my OBS Studio this problem is due to you don't have these library libavcodec.57.dylib . You need to use brew in terminal to install ffmpeg library (just install brew and than type "brew ffmpeg").

@wtsnz Till ffmpeg library is installed there is no source like iOS Camera in OBS Studio, the log is under this text :)
`23:29:12.368: os_dlopen(/Library/Application Support/

[2018-04-03 22:26] wtsnz commented on #1
Thankyou @putiatin!

I've been working over the last few days on adding support for another decoder (VideoToolbox) that will hopefully solve this issue.

I will look at seeing how I can fix this, as FFMpeg _is_ bundled with OBS Studio itself, and it seems to be pointing at the wrong binary. Thanks again for your help 💯

[2018-04-03 22:30] awkahrs commented on #1
I installed Brew and FFMpeg as @putiatin suggested, and it finally worked! Thank you!

[2018-04-03 22:31] wtsnz commented on #1
Awesome to hear!

I've figured out why the plugin is pointing at the wrong path for FFMpeg so that will be fixed in the next version :)

Thanks again to the both of you! 😃

[2018-04-04 01:40] wtsnz commented on #1
I've released v1.1.0 which fixes the issue and removes the requirement to `brew install ffmpeg` before using the plugin 👍  (https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v1.1.0)

Thanks again to you both @awkahrs, @putiatin 😃

[2018-04-04 01:40] #1 closed

[2018-04-13 19:55] MorDeCaii opened #3 "Video distorted"
Tryed to add video source from iPhone 5s and iPad on Windows 10, but in both cases (with any resolution) video is distorted and jumpy. Same result on laptop.

[2018-04-14 21:31] MorDeCaii commented on #3
@wtsnz Here is screenshot from mobile app and GIF of what is on the PC screen (no matter USB 2.0 or 3.0):
![img_0991](https://user-images.githubusercontent.com/11280671/38772609-ef5fb56a-4043-11e8-8a70-35b24d1de5d1.PNG)
![0e1ec5b1bdcb21c73d3014e4ac30d89e](https://user-images.githubusercontent.com/11280671/38772618-167e5926-4044-11e8-8da7-d5945cdf9f4d.gif)

[2018-04-15 22:55] wtsnz commented on #3
Oh wow! That is something!

Can I ask what hardware you have on your computer? (Graphics card etc)

[2018-04-16 07:15] MorDeCaii commented on #3
@wtsnz, of course:
On PC: CPU: i7-4770K, GPU: AMD Radeon HD 7970, RAM: 16GB
On Laptop: CPU: i5-4210U, GPU: Nvidia Geforce GT 730M, RAM: 8GB

[2018-04-17 00:41] wtsnz commented on #3
Thanks for getting back to me. Odd I was wondering it there was issues with a particular GPU manufacturer so it's good to know that it's nothing specific to AMD or Nvidia!

I don't really know what the cause is just yet, but I'm working on adding hardware decoder support that may fix it. I'm hoping to get a new version of the plugin ready in a few hours, and it would be awesome if you could try it

[2018-04-17 02:04] wtsnz commented on #3
I've committed some changes that look for a different decoder, there is an installer available here https://ci.appveyor.com/project/wtsnz/obs-ios-camera-source/build/1.0.30/artifacts

If you could give it a go, and check out the OBS Log file (In OBS Studio, Help -> Log Files -> View Current Log), and it'll tell you whats going on, it would be awesome to see the contents of that too!

[2018-04-17 09:52] MorDeCaii commented on #3
For now, it seems like hardware decoder not work:

12:40:28.137: [obs-ios-camera-plugin] Started listening for devices
12:40:28.147: [obs-ios-camera-plugin] Activating
10:35:29.943: [obs-ios-camera-plugin] Started listening for devices
10:35:29.945: User added source 'iOS Camera' (ios-camera-source) to scene 'Game'
10:35:29.951: [obs-ios-camera-plugin] Activating
10:35:39.285: [obs-ios-camera-plug

[2018-04-29 13:21] psykoen opened #4 "obs studio"
Obs crashes when i try to ad iphone camera as source

Unhandled exception: c0000005
Date/Time: 2018-04-29, 15:20:08
Fault address: 7FF82AB26E29 (c:\program files (x86)\obs-studio\obs-plugins\64bit\obs-ios-camera-source.dll)
libobs version: 21.1.0
Windows version: 10.0 build 16299 (revision: 371; 64-bit)
CPU: Intel(R) Core(TM) i7-4800MQ CPU @ 2.70GHz

Thread 37FC (Crashed)
Stack            EIP

[2018-04-29 13:49] psykoen commented on #4
ok 720p 60fps and now obs wont crash on conecting to the iphone

[2018-04-30 21:15] wtsnz commented on #4
Hey @psykoen!

Thanks for the message, I think I fixed this a few weeks back and haven't yet had chance to do a new release.

You can check the compiled version here: https://ci.appveyor.com/project/wtsnz/obs-ios-camera-source/build/1.0.32/artifacts, or checkout the /fix/exception-issue branch.

[2018-04-30 21:16] wtsnz commented on #4
When I get back into the swing of things (just landed in my new home in Canada) I'll be merging it and doing a new release as soon as I've got some other changes I'm working on ready :)

[2018-05-01 19:10] aqQnm0 opened #5 "Massive video delay over time"
I have an issue with the video coming from the iPhone. It's fine for the first few minutes, but it gets more and more delayed over time. After only ~15 min the video is over 10 seconds delayed, even on 720p. It's a bit choppy as well.

iPhone 7 Plus
OBS 21.1 on Windows 8.1 (both up-to-date)
Core i7 (8-Core/16-Thread), GTX 1070, 16GB RAM

[2018-05-07 08:36] ecjo commented on #3
Hi!

I have the same issue, although Im using my MacBook Pro, and connect it through USB to my iPhone, with OBS Studio. Same issue with the image though. Any ideas of a solution?
Thanks

[2018-05-07 22:09] wtsnz commented on #5
Hey @aqQnm0,

Sorry I took so long to get back to you. Interesting, it sounds like the decoding on the computer isn't able to keep up over long durations.

A few questions:
- Does the scene in OBS Studio have a lot of sources?
- What's the CPU indicator at the bottom say during recording/streaming/ready?
- Do you get any warnings from the iOS Camera plugin printed to the [logfile](https://watchbea

[2018-05-07 22:12] wtsnz commented on #3
Thanks for the report @ecjo.

It's an interesting one, as I've still not got to the bottom of it... I've just moved countries last week so I'm slowly getting back into the swing of things 😄

There's no USB hubs involved at all?

[2018-06-07 05:32] EveningStarNM commented on #5
I've had the same problem. On an old 3GHz Core 2 Extreme Quad with and AMD Radeo HD 6670, I had no significant problems with the old version, but the new version gets farther and farther behind over time. After a couple of minutes, the OBS video would be 15 seconds behind real life, and getting worse. However, on my Dell Precision M7720 (Core i7-7700 HQ with Intel HD Graphics 630 and nVidia Quadro

[2018-06-20 17:44] seffyroff opened #8 "Installer not working?"
Hey there, with the latest Windows version of the installer, the plugin doesn't appear in my OBS plugins directory.  My OBS Studio isn't installed in the default directory, and is in fact installed using [Scoop](https://github.com/lukesampson/scoop-extras/blob/master/obs-studio.json) so it's possible that env vars your installer is looking for aren't there.  Is it possible to provide a manual inst

[2018-06-22 18:50] wtsnz commented on #8
Hey @seffyroff, sorry for the delay in getting back to you.

I've extracted the files from the installer for you and attached them here.
[installer-files.zip](https://github.com/wtsnz/obs-ios-camera-source/files/2128775/installer-files.zip)

<img width="750" alt="screen shot 2018-06-22 at 11 46 53 am" src="https://user-images.githubusercontent.com/665916/41793772-fe850c4e-7611-11e8-91ef-67f4507cc1

[2018-06-22 18:54] wtsnz commented on #3
I have managed to replicate this on my iPad 3 (the first retina iPad) and it appears to only happen when the video resolution on the iPad is set at 1080x1920@30 and higher. If I set the video resolution less that that (720x1280@30) it works as expected.

Sorry for the delay of getting into this issue, moving countries is fun 😅  I'm now looking into the cause of this issue.

[2018-06-22 19:55] wtsnz commented on #4
As I've not heard back whether this is an issue in the latest version, I'm gonna close it 😃

[2018-06-22 19:55] #4 closed

[2018-06-23 05:04] seffyroff commented on #8
That worked, thanks!

Scoop installed apps are subdirectories of it's own install, which defaults to the user's home dir (they advise keeping it inside a dir structure owned by the current user so it can install stuff without admin perms).  I think the regular OBS installer sets an Env Var to the installed directory, which it seems the Scoop installer isn't doing.  I'll verify this and file a bug

[2018-06-23 05:04] #8 closed

[2018-06-27 00:49] wtsnz commented on #3
Thanks for the comment vfmradio. So it doesn't work on your iPhone 5?

I'm currently sourcing some older iOS devices to test this issue, as I'm starting to think that there is a hardware difference in some of the older iOS devices that is causing this.
My theory is that devices older than the iPhone 6, and the iPad 3 experience this issue.
If you are experiencing it, then try lowering the resoluti

[2018-06-27 06:09] vfmradio commented on #3
I tried to change the resolution, but it does not change anything. I wanted to give a second life to the old iphone, but I have to use my new device (I will be happy with any solutions if they appear!

[2018-07-16 17:13] wtsnz opened #10 "Issue loading plugin on v2.2.0"
I've just realized that on osx the plugin isn't loaded correctly.

[code]

Looks like the post install process didn't run correctly to patch this out.

Working on this right now..

[2018-07-16 17:23] wtsnz commented on #10
This was caused by changes committed in af1736129f162f60f8629c8fa2b2a5b43be59669 on the `CI/install-dependencies-macos.sh` and wasn't caught in the alpha - as I had the dependencies in the tmp folder.

[2018-07-16 17:48] wtsnz commented on #10
Fixed with v2.2.1 👍

[2018-07-20 01:57] #10 closed

[2018-08-21 12:27] K0den opened #13 "Not loading on Mac OS"
OBS 22.0.1 (mac)

[code]

[2018-08-21 15:20] wtsnz commented on #13
Hey @K0den, thanks for reporting the issue. Is this after you've built the plugin yourself, or is this after installing the compiled plugin from the releases tab?

[2018-08-21 15:40] wtsnz commented on #13
Thanks I'll have a look as to why it's suddenly not finding this.

A quick glance tells us that the plugin can't find the ffmpeg module. You might be able to get around that by installing ffmpeg with brew. (If any of that is familiar to you?)

[2018-08-21 15:56] K0den commented on #13
Brew installs ffmpeg with libavcodec.58.dylib tried to symlink ...57... but that didn’t work

[2018-08-21 15:59] wtsnz commented on #13
I think the new version of OBS Studio has updated it's dependencies.

On 21 August 2018 at 08:56, Michael Nielsen <notifications@github.com>
wrote:

--
Will Townsend

will.townsend.io
@wtsnz <https://twitter.com/wtsnz>

[2018-08-21 20:06] wtsnz commented on #13
@K0den Please use the latest release 💯

https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.3.2

[2018-08-21 20:06] #13 closed

[2018-09-26 23:07] rickvanprim opened #15 "Orientation Lock Option"
It would be nice to be able to lock the camera in portrait or landscape mode, so it doesn't abruptly changed during a stream.

[2018-09-27 00:37] wtsnz commented on #15
He @rickvanprim!

Thanks for the suggestion! I didn't think that people would move the device around whilst filming, and thought that most people would use a tripod/mount.

If this would be helpful then I'll certainly take a look at implementing this when I update the app to use the new iOS 12 SDK.

[2018-09-27 21:53] rickvanprim commented on #15
Our use case is using the iPhone as a steady cam to supplement a fixed camera on a tripod.  It's not a huge deal as long as we're consistent about holding it sideways in landscape mode.

I could see two approaches for this, either an orientation setting for Auto, Portrait, Landscape, or just on the main screen a orientation lock toggle button.  Or both?

Thanks for the quick response :)

[2018-09-29 17:10] wtsnz commented on #15
Is there a reason that the iPhone's global rotation lock doesn't achieve what you're after?

[2018-11-03 19:40] zerodistraction opened #16 "OBS crashes on exit"
Problem: I have configured two iPhones in OBS, however, I’ve noticed OBS is now extremely unstable and crashes on exit. Streaming is reliable and the app works reliable while I’m in it, but it consistently crashes on exit. If I try to even remove a iOS camera source, OBS crashes.

When I looked at the crash log, I see it’s saying right after it loads iOS Camera, it’s complaining that the NDI libra

[2018-11-20 00:28] CSchelll opened #19 "Huge Delay over time"
I know there was already a thread on this, but i didnt find a clear answer to it so i will ask again. When i try to use my phone as the camera it works fine for the first couple minutes and then it gets really delayed and laggy. Any fix?

[2018-11-20 07:37] Dikyx commented on #3
Hi,
I bought the app a couple hours ago. I found this issue report on Github after experiencing the same problem.

**iPhone :**
Model : iPhone 5S
iOS version : 12.1.1

**Computer :**
CPU : I7 6700k
GPU : GTX 1080Ti
OS : Windows 10 Version 10.0.17134 Build 17134
OBS version : 21.1.0
OBS ios camera source plugin version : v2.3.1 (windows)
iTunes version : 12.9.1.4

Workarounds :
Lowering resolution

[2018-11-21 03:02] CSchelll commented on #5
i think that the 2.3.2 update fixes it but i am on windows :(

[2018-12-02 15:15] haj opened #20 "Teleprompter"
I think it would add huge value to the OBS Camera App if you add a teleprompter feature. It would remove the need for expensive teleprompters and they are very difficult to use with phones anyway as they are built for Camera’s.

[2019-01-14 01:07] #3 closed

[2019-01-14 02:06] wtsnz commented on #5
This is likely a side effect of the machine that is doing the streaming is doing too much work simultaneously.

Closing this as I have no more to add.

[2019-01-14 02:06] #5 closed

[2019-01-14 02:06] wtsnz commented on #19
This is likely a side effect of the machine that is doing the streaming is doing too much work simultaneously.

Closing this as I have no more to add.

[2019-01-14 02:06] #19 closed

[2019-03-03 04:38] wtsnz commented on #16
Fixed with the latest version 👍  - [v2.5.0](https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.5.0)

Thanks again @zerodistraction for your help with this issue 😃

[2019-03-03 04:38] #16 closed

[2019-03-03 04:38] #15 closed

[2019-03-21 03:24] philss opened #26 "Is it possible to use on Linux?"
Hi! Thank you for this project!

I want to stream programming sessions from my Ubuntu Linux 18.10, and I couldn't find instructions for how to build and install this plugin.
Is it possible to run on Linux?

PS: I already using on MacOS, but I wanna try on Linux.

[2019-04-01 20:01] philss commented on #26
I tried and I couldn't make it work. Perhaps it's possible with some different compilation flags, but I gave up with OBS IOS Camera, and I could make work with other tools explained in this blog post: https://steemit.com/technology/@tech.ninja/tech-quickie-convert-your-ipad-iphone-into-a-good-wireless-webcam-in-linux

[2019-04-01 20:01] #26 closed

[2019-08-16 21:40] dougg3 commented on #26
Hey @philss, I saw you made this issue a while ago. I was able to get this plugin to compile on Ubuntu 18.04 by adding a few #includes in various places where I was seeing errors. I also had a problem at final link time because all of the libraries needed to be compiled with -fPIC. It seems to work! I ran into a quirk where sometimes I have to change between the front-facing and rear-facing camera

[2019-08-22 20:22] johnnyshankman opened #27 "ISO Locking"
If this isn't the right place to make device-side feature requests let me know (I can tell this is the repo for the actual desktop OBS plugin itself).

I'd like to request that the iOS app have support for ISO locking, that way the app can be used in low-light situations without the automatic sensor setting the ISO to extremely high values and introducing excessive noise.

The method for setting c

[2019-08-22 20:26] #27 closed

[2019-10-10 18:30] dafadness commented on #1
Hello I purchased your app from the store and no matter what I do I cannot get the IOS camera to appear in my OBS.  Im running windows at the moment.  @wtsnz Thanks!

[2019-10-11 06:12] InkxtheSquid opened #28 "Obs won't Load the Plugin on windows"
I have no clue why but for some reason the plugin won't load on obs-studio 24.0.1 on windows. however I see videos of the plugin working in older versions, I reeeeaally want to use this plugin badly without any flaws, and I don't want to downgrade to an older version of obs-studio to fix this, please fix this problem I am having, on top of that I found this in one of my log files

[code]

[2019-10-11 15:57] wtsnz commented on #28
Thanks, I'm looking into this, it's working here on my Windows computer and I've not been able to reproduce the issue.

I'll in the process of re-installing the latest version of Windows 10 and attempting to reproduce.

[2019-10-11 19:30] wtsnz commented on #28
@InkxtheSquid this is fixed with the latest version! Download the updated plugin below

https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.5.1

[2019-10-11 19:30] #28 closed

[2019-10-12 04:06] InkxtheSquid commented on #28
Thank you So much! it shows on the latest version now!

[2019-11-05 18:04] nunobernardes99 opened #30 "Windows Download"
When trying to download the windows installer, gives an error.
![Screenshot_1](https://user-images.githubusercontent.com/37451431/68233265-bd088280-fff6-11e9-85f5-a3d91ebfbbc1.png)

[2019-11-06 22:02] wtsnz commented on #30
Appears to be working now @nunobernardes99?

[2019-11-13 17:38] benrossow commented on #15
I have tried two different iPhones mounted on a tripod. The orientation changes from landscape to portrait after a few minutes. They are sitting stationary and don't receive any movement at all during recording. Is there a way to prevent this?

[2020-01-02 15:34] Matheus-de-Souza opened #31 "Is on Roadmap to run on Linux?"
Hello, I've bought the iOS app, and it works very well with Windows. But, now I'm switching to Linux (Ubuntu Studio) and I would like to know if you have plans to make a Linux version for the obs plugin too.

[2020-01-07 19:19] TimurBuschKopf opened #32 "iPhone 11pro super wide camera support ?"
So actually the title should already be clear about the question. I bought this app To use with my iPhone 11 Pro and it would be really nice to know if the 0.5x feature is planned to be added in the near future ?

[2020-01-23 01:17] RAMilewski commented on #20
Interesting idea!  Especially when using the OBS Camera App on an iPad.

[2020-01-23 01:23] RAMilewski opened #33 "Switching Latency"
I've noticed odd latency issues. Not that it's out of sync with other cameras, but if I do a swipe from another source to the iOS Camera, the camera feed starts out black and then switches to the camera after a delay of as much as 600 milliseconds. (A 500 ms swipe will swipe to a completely blank frame before it cuts to the iOS camera image!)

It's not the machIne is compute bound.  It happens con

[2020-01-23 01:25] RAMilewski opened #34 "Switching Latency"
I've noticed odd latency issues. Not that it's out of sync with other cameras, but if I do a swipe from another source to the iOS Camera, the camera feed starts out black and then switches to the camera after a delay of as much as 600 milliseconds. (A 500 ms swipe will swipe to a completely blank frame before it cuts to the iOS camera image!)

It's not the machIne is compute bound.  It happens con

[2020-01-23 01:28] RAMilewski opened #35 "Disconnects When Not Live?"
The iOS Camera image will sometimes freeze in the preview window. If I switch to the camera I get a live image. Interestingly the connection dialog on the camera says "USB Connected" when the camera is live, and "USB Waiting for connection" when swapped back to the preview window.

As I switch back and forth it connects and disconnects.

I'm running OBS Studio 24.0.6 on OS X 10.13.6 with the camer

[2020-01-23 01:30] RAMilewski commented on #34
Dkuplicate Entry.

[2020-01-23 01:30] #34 closed

[2020-01-23 21:32] RAMilewski commented on #35
There are a number of different things that appear to trigger this behavior, but I have what is a reproducible case on my machine.  It has been tested more than a dozen time.

STEPS TO REPRODUCE

1) Set-up two scenes.  The first with a Logitech C920 camera as the source and the second with the iOS Camera over USB.

2) Turn on studio mode.

3) Configure a 1500 millisecond fade transition.  In the T

[2020-01-23 21:41] wtsnz commented on #35
I have a feeling that I know why, if my assumption that you're switching Scenes in the Studio mode & that one of the scenes does not have the iOS Camera layer & the other one does.

If you copy the iOS Camera layer from Scene A & paste it (**by reference**) into Scene B (but then hide it) I believe that this will work around the issue you're experiencing.

[2020-01-23 21:52] wtsnz commented on #32
This will be released in the next couple of weeks!

[2020-01-23 21:52] #32 closed

[2020-01-25 22:37] RAMilewski commented on #35
OK.  That does nicely solve the connected/disconnected problem I described above.
Thank you for the quick response.

I also filed that report over on the OBS Forum thread on the camera plugin.  I'll post this fix in that thread.  I also described something there I didn't mention here.   I thought it was related, but now I'm not sure because it doesn't respond to this fix.

If I set up a 600ms swip

[2020-01-26 20:53] haj commented on #20
@wtsnz Is this something you would add to the app? Is it something that we can sponsor?

[2020-01-30 00:23] RAMilewski commented on #35
Closing this issue as the swipe problem is covered in issue #33 and I'm still researching the audio issue.

[2020-01-30 00:23] #35 closed

[2020-01-30 07:38] RAMilewski opened #36 "Record + Live View"
It is common practice in professional streaming organizations to have cameras with recording capability both record an event and provide a live feed to the production switcher.  Is there enough compute capacity in iPhones and IPads to support that.

[2020-01-30 13:00] mmccallum commented on #36
I'd like to upvote this feature.  I use this app on several phones for obs and since obs doesn't let you record incoming sources individually, doing it on the phone would be great place.  These newer phones have so much processing power these days, this seems like the perfect place to do it.

Id like to see this feature as the ability to control zoom remotely.  :)

[2020-02-07 19:29] KovalevArtem opened #37 "Localization"
I am saddened that the program is in English only.
I suggest to localize the program.
I am ready to assist in the translation into Russian.
(For example, you can use the service Crowdin or any other. Crowdin is free for Open source projects.)

[2020-03-27 14:10] dougg3 commented on #31
I actually ported the code to work on Linux last year, but you'll have to build it yourself. See my comment here:

https://github.com/wtsnz/obs-ios-camera-source/issues/26#issuecomment-522160053

[2020-03-28 20:09] bkylerussell commented on #26
This worked great for me on Ubuntu 18.04.  I had to also install libobs-dev so `FindLibObs.cmake` had the right pkg-config setup in place.  I was also missing libavcodec-dev, but once those were installed the commit referenced above worked great.  I'm not that familiar with OBS yet, but my plugin directory was `/usr/lib/x86_64-linux-gnu/obs-plugins`.

[2020-03-29 21:07] harwoodr commented on #31
Trying to get this working now - it keeps complaining about ffmpeg and cmake... we'll see.

[2020-03-29 21:10] dougg3 commented on #31
You may be missing various *-dev packages if you're using Ubuntu -- for example a commenter on the issue I linked said he needed to install libobs-dev and libavcodec-dev.

[2020-03-29 21:44] harwoodr commented on #31
Nope... got them... there's no cmake file for ffmpeg... I changed a couple of things:

#find_package(FFmpeg REQUIRED COMPONENTS avcodec avutil)
# find_ffmpeg_library(avcodec)
# find_ffmpeg_library(avutil)
find_library( AVCODEC_LIBRARY avcodec )
find_library( AVUTIL_LIBRARY avutil )

include_directories(
        "${LIBOBS_INCLUDE_DIR}/../UI/obs-frontend-api"
        ${AVCODEC_INCLUDE_DIRS}

[2020-03-30 18:01] jbberinger commented on #26
@dougg3 @bkylerussell
Just tried to build on Ubuntu 19.10 from the commit instructions and got a bunch of CMake errors. Any ideas?
[code]

[2020-03-30 18:03] dougg3 commented on #26
Hey @jbberinger, I don't think you checked out my branch -- make sure you do "git checkout linux-support" after cloning

[2020-03-30 18:25] jbberinger commented on #26
@dougg3 Thanks, that was the problem! I'm a little confused about the final step where you created the directories, and where you got the .ini and .so files?

[2020-03-30 18:28] dougg3 commented on #26
You should be able to find those two files somewhere inside the build directory you created while following the build directions -- then all you need to do is arrange them in the directory structure indicated in my instructions and run OBS :-)

[2020-04-01 16:07] EgidioBezerra opened #38 "Twitch Chat"
It could be nice if u implement a twitch chat feature, just like when u press to turn the screen off, we could press to show our stream chat.

[2020-04-03 20:51] philss commented on #26
Awesome, @dougg3! Thank you! ❤️
I will give a try someday.

[2020-04-06 12:19] pseudo-su opened #39 "Feature Request: screen link"
Would be very cool to support sending the screen capture to OBS in a similar way that elgato screen link does

https://www.elgato.com/en/gaming/screen-link

[2020-04-10 20:17] wtsnz commented on #39
Thanks! I've already built this in the iOS app, just have to add it back in and then release it :)

[2020-04-10 20:17] #39 closed

[2020-04-10 20:18] #30 closed

[2020-04-15 20:47] dunn opened #42 "controlling zoom from within obs"
Is it possible for the OBS plugin to adjust the zoom level of the camera (or on an iPhone Pro, the lens used)?  It would be very useful to have, for example, two source instances at different zoom levels that could be switched between.

Thanks!

[2020-04-18 16:14] thSoft commented on #5
Also reproducible during streaming with
* OBS Camera 3.1
* OBS 25.0.6
* MacBook Pro mid-2015 with macOS 10.15.4
* iPhone 8 with iOS 13.3.1

[2020-04-30 17:47] TSchattschneider commented on #26
While OBS, as packaged for ubuntu, will have its plugins in `/usr/lib/x86_64-linux-gnu/obs-plugins`, it will still read your custom plugins from `~/.config/obs-studio/plugins`, so you can put the plugin there (in `~/.config/...`) along with its locale `en-US.ini-file`, as @dougg3 stated. That way, it will be loaded by OBS and it will be properly labeled as "iOS Camera" instead of `OBSIOSCamera.Tit

[2020-05-08 09:55] josep112 opened #44 "Delay image"
i'm using macosx i5 16g ram with usb cable and iphone.
after a minute or the video is delayed from 3 seconds after 2 seconds to 8 seconds and therefore ahead, which can be a CPU that is around 20%

[2020-05-08 15:13] wtsnz commented on #44
Hey @josep112 have you updated to the latest version of the plugin? - v2.6.0? https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.6.0

Enabling the Hardware Decode option in the iOS Camera Source Properties will provide a substantial speed bump too!

[2020-05-08 15:13] #44 closed

[2020-05-28 15:36] GitGangGuy commented on #31
I'm currently on Windows and will be switching soon. I hope we could get official support, that would be awesome.

[2020-06-01 04:49] venn-xx opened #46 "Crash when launching OBS with obs-ios-camera-source v2.6.1 (macOS 10.15.3)"
I get a crash when attemping to launch OBS for a second time when v2.6.1 of the ios-camera-source is installed.

Hardware:
MacBook Pro (16-inch 2019)
MacOS Catalina 10.15.3

Reproduction steps:
1. Install obs-ios-camera-source v2.6.1
2. Launch OBS (24.0.8)
3. Add and connect an an iOS Camera source following the [getting started guide](https://obs.camera/docs/getting-started/ios-camera-plugin-usb/

[2020-06-04 22:10] waleeg commented on #46
Hi @venn-xx

That's weird, thanks for the report.
Could you send the OBS logs? One of them will be linked to the crash.

Thanks.

[2020-06-05 00:36] venn-xx commented on #46
Hi @waleeg, unfortunately I don't think any OBS logs were created, the oldest log file in my logs folder still indicates "Loading iOS Camera Plugin (version 2.6.0)" so this would have been after I downgraded from 2.6.1 to 2.6.0.

I'll attach the two log files created on 1 June 2020 regardless.

Thanks

[2020-06-01 23-22-54.txt](https://github.com/wtsnz/obs-ios-camera-source/files/4733287/2020-06-0

[2020-07-07 12:35] hpetrus commented on #31
@harwoodr (or anybody else who knows) I'm trying to compile for Arch Linux.  I've got the built libs and includes for ffmpeg in a local folder, but I don't know how to incorporate the changes to CMakeLists.txt that you made (I'm assuming that's where you made the changes), so I still get the cmake errors, as your originally reported.

If I may ask, where in the CMakeLists.txt did you make the chan

[2020-07-07 12:57] hpetrus commented on #31
Now, I get a build error, as follows:
[code]
I'm using the latest `obs-ios-camera-source-master`.  Again, I'm building on Arch Linux version current in all departments.  Any help would be appreciated.

[2020-07-08 00:02] dougg3 commented on #31
@hpetrus you have to use my linux-support branch from last year -- it fixes several compile issues on Linux. I haven't checked out this project for a while...looks like there are some new commits I need to bring in soon. Anyway, this branch should build:

https://github.com/dougg3/obs-ios-camera-source/tree/linux-support

[2020-07-08 00:33] hpetrus commented on #31
@dougg3  thanks for getting back to me on this issue.  I'm super grateful that you've got this branch going in the first place.  I'll compile your latest commit, but also look forward to whatever rebase you might bring from the original master.  I'll be following closely!

[2020-07-08 00:52] hpetrus commented on #31
@dougg3 unfortunately, I'm still getting the same make error with your last commit (see my previous post above with the error messages).  What might this be because of?

[2020-07-08 02:07] dougg3 commented on #31
@hpetrus As of the last time I tried it, the current OBS Studio source worked fine.

On the compile error: I'm not sure, I've never seen those issues before. I wonder if Arch has some newer GCC or libstdc++ that adds additional checks. I know it works in Ubuntu 18.04. You could try adding `#include <cstdio>` in deps/portal/src/logging.h since that seems to be what the error is about.

I'm also not

[2020-07-12 18:10] dougg3 commented on #26
Just a heads up for future people who are trying to build the Linux version, I rearranged things a bit to help streamline the Linux build process and put all the relevant documentation in a single place. My fork's master branch now has the Linux fixes, along with an updated README.md with build/install instructions:

https://github.com/dougg3/obs-ios-camera-source

[2020-07-12 18:11] dougg3 commented on #31
Just a heads up for future people who are trying to build the Linux version, I rearranged things a bit to help streamline the Linux build process and put all the relevant documentation in a single place. My fork's master branch now has the Linux fixes, along with an updated README.md with build/install instructions:

https://github.com/dougg3/obs-ios-camera-source

[2020-07-14 06:21] dithotxgh commented on #31
@dougg3 Building with your patches and instructions works for me.

Thank you so much for enabling an ubuntu 20.04 linux build of what looks like a truly awesome plugin/app by @wtsnz.

As the whole apple ecosystem, as well as ubuntu are new to me, will give this and the iphone a setup and test in the morning, so I can have a whole day to *enjoy* what needs to be done to get it up and running.

[2020-07-14 14:12] dithotxgh commented on #31
replying to self: https://github.com/wtsnz/obs-ios-camera-source/issues/31#issuecomment-657993013

Wow.  As the ozzies would say, a thing of beauty, a joy forever.

[2020-07-15 00:46] hpetrus commented on #31
@dougg3 thanks for updating!

I got it to compile on Arch with some modifications to your CMakeLists.txt and some Arch-specific deps handling.  I think it would be best to share my solution, which you helped me find.  Should I post it under a new thread, or post it all here?

[2020-07-15 02:05] dougg3 commented on #31
I'm glad it's working for you guys! @hpetrus I would recommend posting an issue about it over at my repository. Maybe we can figure out a way to make it compatible with both Ubuntu and Arch.

[2020-08-20 23:08] marksyzm commented on #35
Not sure if this ticket should stay closed? We had this issue on a major project where we’re stuck with mobile phones at the moment and we’re not finding this resolves it. We’re using Windows machines.

[2020-09-20 06:34] Thomas-p2-Elliot commented on #5
This issue is still happening. I do not have the log. CPU & GPU Usage were below 30% but after ~20 minutes a delay became noticeable, and slowly grew worse and worse until the stream crashed.

[2020-10-30 00:35] thesammykins opened #55 "iOS doesn't 'save' previous settings if crashing"
Using 3.1.1-79, when the app crashes if I have set up custom settings (ISO, WB, Zoom, etc) they are not saved in any form, so when you load it back up you either have to have noted your calibration or start from scratch.

It would be great if by default it saved the last used settings when starting up, or give options for profiles e.g. Day profile and Night profile in this manner as I find myself

[2020-12-15 01:16] thomaslfessler opened #57 "macOS Lockup/crash when using OBS Camera with Virtual Webcam"
**Hardware / OS Info**
Booting with Open Core 0.5.8 and macOS 10.15.5
Booting with Open Core 0.6.3 and macOS 10.15.7
iPhone 7+ or iPhone 12 Pro Max
AMD Ryzen 3900x, AMD 5700XT, 128GB ram etc.
Plugged into USB 2.0, 3,0 or 3.2 Gen 2x2 ports

**Software Info**
OBS 26.02. (I just upgraded to 26.1 - afraid to try again)
Virtual Webcam for Mac 1.3.1
When using OBS.Camera over USB as a source,  macOS ran

[2020-12-17 00:00] wtsnz commented on #57
Hey @thomaslfessler,

Thanks for the issue report. I'm not sure how the plugin could be causing macOS itself to lock up. Crashes related to the plugin tend to be limited to the host app (OBS Studio in this case).

Today, I've merged in the PR you mentioned that improves the thread safety of the macOS hardware decoder. It's included along with a couple of other improvements regarding device connect

[2020-12-17 00:05] wtsnz commented on #46
Hey @venn-xx,

Just wanted to follow up; are you still experiencing this issue on every subsequent launch of OBS Studio?

I've looked at the crash dump and it's not really helpful (to my eyes!) - it's saying that the main thread crashed while loading the `vlc-video.so` plugin. However, this is likely not the cause if you can prevent the crash by downgrading the ios-camera-source plugin.

If you do

[2020-12-17 00:05] #46 closed

[2020-12-17 00:09] wtsnz commented on #55
Thanks for the suggestion; this makes sense!

I've added it to the roadmap, so we'll take a look at how best to implement.

[2020-12-17 00:09] #55 closed

[2020-12-17 00:11] wtsnz commented on #38
Thanks for the suggestion. I feel this is out of scope for this project, so I'm going to have to say that I won't be able to add this into the iOS app.

There are a few ways to add twitch chat into OBS Studio via other plugins - like this https://www.youtube.com/watch?v=BCkDMIppyL0&ab_channel=GamingCareers

Best

[2020-12-17 00:11] #38 closed

[2020-12-18 00:27] wookayin opened #59 "OBS cannot start when a iOS device is connected to mac"
When there is a iOS camera source added to the scene and a iOS device is connected to mac via a lightning-USB cable, OBS cannot start. The UI window does not show up.

The device that is connected to mac could be a different iOS device referred by the iOS camera source, or the same device but not OBS camera app running.

Logs from stdout:

[code]

and thousands of lines about reconnection will flo

[2020-12-18 00:33] wookayin commented on #59
Relevant code lines:
https://github.com/wtsnz/obs-ios-camera-source/blob/9238d58/deps/portal/src/Device.cpp#L82

I have no idea what value is assigned to `connectTimeoutMs`, but this seems to be not working. The log message (connect failed) happens only once inside `usbmuxd_connect(...)`.

[2020-12-18 01:49] wtsnz commented on #59
Hey @wookayin

Thanks for the issue. Yes, I noticed this issue yesterday while in the project. I've got an idea why this is happening, and a fix in the works.

Are you using Windows?

[2020-12-23 09:35] eric commented on #33
I wonder if the iOS app always sends a keyframe after coming into the foreground...

[2020-12-26 08:47] wookayin opened #66 "Display iOS device name instead of uuid"
It would be great to show the name of devices connected via USB, not by its internal UUID representation.

![image](https://user-images.githubusercontent.com/1009873/103148380-0e109400-472d-11eb-8c41-9f9a0f51d452.png)

[2020-12-26 17:54] wookayin commented on #59
Hi, do you have any updates on this?

[2020-12-26 18:47] wtsnz commented on #59
Hey,

Yes, I've fixed it in #60, but I have a couple more things to do on the
branch before releasing it. I'm just taking a few days off over Christmas,
however it's the first thing I plan to do when I'm back at my desk :)

Best,
Will

On Sat, 26 Dec 2020 at 09:54, Jongwook Choi <notifications@github.com>
wrote:

--
Will Townsend

will.townsend.io
@wtsnz <https://twitter.com/wtsnz>

[2020-12-26 20:05] wookayin commented on #59
Thank you Will. I was just impatient for the fix, so I tried building #60 and it seems working fine. At least the UI does not freeze!

One feedback: However, on the console (stdout) log the following log lines are still flooding while iOS camera app is not running.

[code]

[2020-12-26 20:15] wtsnz commented on #59
Sweet!

Yes this is on my list of things to tidy up when I get back to it :)

Best,
Will

On Sat, 26 Dec 2020 at 12:05, Jongwook Choi <notifications@github.com>
wrote:

--
Will Townsend

will.townsend.io
@wtsnz <https://twitter.com/wtsnz>

[2021-01-12 00:40] eric commented on #66
I would appreciate this too.

[2021-01-25 22:55] #57 closed

[2021-02-01 18:27] jfrux opened #67 "Feature request: OBS Camera Remote"
I know, as a developer... nothing is ever good enough for everyone... but I just want to say that this app is phenomenal and you've done a great job Will!

Stashing this here, but I like to use the forward facing camera for OBS as it is generally magnitudes better than the selfie camera but cannot properly expose the shot to my self without reversing the device to touch the screen...

Any tips on

[2021-02-02 02:33] cedstrom opened #68 "Portrait mode?"
Looks like you can get the depth data from the camera (https://developer.apple.com/documentation/avfoundation/avcapturedepthdataoutput).  I would be awesome if this could be streamed alongside video data and then used in the plugin for virtual background or background blur.

[2021-02-16 01:03] wtsnz commented on #66
Good news! I've implemented this in v2.8.0 - checkout the release here and let me know how it goes https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.8.0

[2021-04-07 18:17] ndimmick opened #71 "Trouble with app freezing when switching to source in OBS."
Our church uses a couple iPhones for our lives stream.  One iPhone 7 runs your "Camera for OBS" app and connects to our windows OBS computer via NDI on a dedicated wifi network that only serves the two cameras and the OBS computer.  Recently, we’ve been having lots of trouble getting it to connect, requiring multiple restarts of the app, phone, computer, or wifi connection (no pattern).  The past

[2021-04-07 18:19] ndimmick commented on #71
Our first iPhone didn't cause a problem, and our HDMI sources were fine, too. Our "Front iPhone" is running Epoch Cam. The problem "R iPhone" is running "Camera for OBS". Both are connected through a dedicated router that is not connected to the internet.

This is the log created after the first restart. The operator tried to switch the scene to "R iPhone" and then back to "Front iPhone" after she

[2021-05-21 17:00] wtsnz commented on #71
Hey @ndimmick

Sorry for the delay in getting back to you.

Looking at the log file you've shared, it looks like the issue is related to the NDI plugin as it looks like you're not using the iOS Camera Plugin source. I have since release an update to the iOS app that did fix an outstanding issue with NDI on iOS14 (local network permissions, and an issue where backgrounding, and then resuming the ap

[2021-05-31 19:55] #71 closed

[2021-05-31 19:59] ndimmick commented on #71
Thanks, Will.  I was on vacation when your first reply came in, and I forgot to reply until you closed this thread just now.  We have not had issues in the last few weeks, and I don't know if we are running that update version you mentioned.  Hopefully, this is no longer an issue for us.  I appreciate your response.

[2021-06-03 03:14] eric commented on #42
I would really use this as well.

[2021-06-03 18:06] maurojr86 commented on #26
Hello @dougg3

I believe you are the plugin developer. Thanks for coding the OBS iOS Camera Source plugin.

I'm totally new into Linux. I'm finding it super hard to follow up on the technical aspects of installing this build on a Mac Ubuntu 20.04.2

Would you be able to create a video or some instructions in more step by step simple terms please?

I think that my main problem is when I get here:

[2021-06-04 05:07] dougg3 commented on #26
Hi @maurojr86,

I am not the main plugin developer but I did port it to Linux. Unfortunately I don’t have time to make a video or tutorial, but you should be able to run those commands in a terminal window after you compile it, and that should install the plugin. Alternatively since you are on Ubuntu 20.04, just look in the Downloads section of the README and follow those instructions: download th

[2021-06-06 07:54] maurojr86 commented on #26
Hey @dougg3 , I followed the instruction but in the end the terminal would not execute the codes but it did not tell me any error or information. I contacted Will from @wtsnz via Twitter, hoping he will guide me through it. Thanks anyways, eventually I will get there.

[2021-10-13 21:05] adrianboisclair opened #72 "Runs on Apple Silicon / M1 / ARM machines"
Any thoughts on this?

[2021-11-05 17:41] makanys commented on #72
Hello, I try to compile plugin, but not work. "Warning: No available formula or cask with the name "./ci/macos/qt.rb" Can you help to me? Thank you!

[2021-11-05 18:02] wtsnz commented on #72
I've only just got my hands on the M1 mac, and it's on my list to investigate in the next week or two! If you find out more, please share :)

For now, the pre-compiled plugin works great on the M1 machines.

[2021-11-05 18:04] makanys commented on #72
Yes it's work, but with compiled OBS not work :( with intel OBS no problem, but... :)

[2021-11-05 18:33] wtsnz commented on #72
I'm not sure I follow.

This plugin doesn't work with a version of OBS Studio you've compiled yourself?

[2021-11-05 18:34] wtsnz commented on #67
This is now out!

We've added the ability to remotely control the device using websockets.

Check out more details in the app's Output settings 👍

[2021-11-05 18:34] #67 closed

[2021-11-05 18:36] wtsnz commented on #42
While it's not exactly from within OBS Studio, we've added the ability to control the app using websockets. The app now can enable a small webserver that hosts a web page that let's you control most aspects of the camera.

Check out more details in the app's Output settings 👍

[2021-11-05 18:36] #42 closed

[2021-11-05 19:05] makanys commented on #72
Yes. :( this is the problem.

[2021-11-24 22:36] benistary opened #75 "Remote control"
Hi, i don't know where to write about this issue, because it is about the ios app.

Recently I have updated app to version 3.2.2-104 and I saw that there is new functionality - remote control. But when I try to access the url via browser I get error. It seems that server is not running. I tested it on Iphone 12 mini,  ios version 15.1

![FC68952E-FC0D-492B-AF70-A596CCB0331A](https://user-images.gi

[2021-11-25 09:07] wes-nz commented on #75
Hi,

We are aware of an issue. Try to turn it off, restart the app and turn it back on.

Let me know if it works.

[2021-11-25 09:23] benistary commented on #75
Restart didn't work. But I have figured it out.

App uses IP in IPv6 format (device ip) which does not open. But I went to wifi settings and copied ipv4 ip of device, for example `http://192.168.0.206:8888/` and it works. I opened it on my mac. ❤️

![IMG_9761](https://user-images.githubusercontent.com/26891613/143413981-d9cfeb17-8b74-4b05-aa72-f135afa3e172.PNG)
![IMG_9762](https://user-images.gith

[2021-11-25 17:53] wes-nz commented on #75
Awesome thanks for the update. We will check if there is a way to get the IPv4 over IPv6 when both are available.

[2021-11-28 21:35] #59 closed

[2021-11-28 22:54] wookayin commented on #15
If global rotation lock is set, obs camera will always send frames in the **portrait** mode --- I'd rather want to lock in the landscape mode. Can we have this option added?

[2021-12-12 01:12] eric commented on #75
Do you have an estimate for how soon the new update will happen?

[2021-12-13 21:14] wes-nz commented on #75
I will submit a new version to the App Store today. Sorry for the delay, we both have been unable to work last week.

[2022-01-04 02:48] wes-nz commented on #75
Unfortunately the app got rejected by Apple just before we shut down for Christmas. We plan on fixing the issue related to the rejection this week. Hopefully by next week it will be out.

[2022-01-09 19:43] TomasHubelbauer opened #76 "OBS crash"
Hi, after installing OBS iOS camera and having it work for about a minute or so, OBS crashed. Since then, OBS will crash every time I start it up. Sometimes immediately, sometimes I will see the viewport for a few seconds and it will crash then. When I disconnect my iPhone, OBS will keep on crashing on startup. Reinstalling OBS fixes the issue. Attached is the crash report macOS generated. I am us

[2022-01-17 10:30] TomasHubelbauer commented on #76
My bad, after a few more experiments, it seems this is coming from the OBS background removal plugin, the conditions to trigger it are just more flaky than I thought and happened to coincide with iOS Camera plugin being installed when I initially tried.

[2022-01-17 10:30] #76 closed

[2022-01-20 22:06] wes-nz commented on #75
@benistary We released a new version fixing the bug. I will close the issue for now. Feel free to re-open if needed.

[2022-01-20 22:44] eric commented on #75
I’m still seeing this issue.

Steps to reproduce:
1. Open app
2. Connect remotely
3. Put phone to sleep
4. Wake phone (app is running again)
5. Try to connect remotely

At this point I get a connection refused.

[2022-01-21 02:07] wes-nz commented on #75
You're right @eric there is a bug there. I'll create a new issue for that specific problem.

[2022-01-21 02:07] #75 closed

[2022-01-21 02:10] wes-nz opened #78 "Remote control server not restarting when switching app state"
Raised in #75

 @eric

[2022-02-21 08:34] sputniki commented on #66
This is pretty cool and works for me! I always needed a list of all used iPhone UUID beside the laptop to identify the correct source assignment.

[2022-02-21 08:39] sputniki opened #79 "Lost connection"
Had lost connection to four iPhones at the same time (3 via USB3.0 hub, 1 direct connected). Wasn't able to reconnect or rescan for the connected devices - even if I reconnected USB cables and restarted the IOS apps. Switching connection with NDI worked at this time but is not smooth for so many devices because of wifi problems.
Interestingly the communication with USB started again after nearly 2

[2022-02-28 21:50] wes-nz commented on #79
Hi @sputniki, could you send me the logs from OBS via the menu Help > Log Files > Show Log Files. Make sure to pick the log matching the time of your streaming issue.

The USB hub could be the issue. I would try to connect all your devices directly to the computer and see if it happens again.

[2022-03-16 02:26] wtsnz commented on #78
Fixed in the latest app version 💯

[2022-03-16 02:26] #78 closed

[2022-03-16 21:18] sputniki commented on #79
Done. But the only remarkable errors are "VideoToolbox decoder returned no image"
What I noticed on the obs.camera app was, that the connection was "green" (connected to OBS) but the data rate showed 0.0MB/s after the picture has frozen in OBS

[2022-04-08 00:53] Yamarajsha opened #81 "Artifacts Issue"
Hello,

May you please update the artifacts? The last date says expired and no longer available to download it

I tried to build without it and cmake shows an error

[2022-04-09 19:44] #81 closed

[2022-05-23 05:30] wookayin commented on #72
OBS 28.0 will start supporting arm64, and actually the latest nightly build has arm64 version. The ios-camera source binary is only in x86_64 architecture, so the plugin cannot be loaded when OBS is running as arm64.

Please see the error message:
[code]

Now that OBS has started supporting arm64 officially, this plugin should be fixed to produce universal (arm64/x86_64) binary sooner than later.

[2022-05-23 07:21] wes-nz commented on #72
Thanks for the update @wookayin we are on it.

[2022-06-01 21:48] #72 closed

[2022-06-02 18:15] dungi opened #82 "2.9.1 doesnt work on Windows"
![grafik](https://user-images.githubusercontent.com/3323565/171698616-e51b1ffe-7f3e-4885-af55-be0dcfbaca01.png)

After installing 2.9.1 (64bit Version) OBS doesn't show the plug-in correctly.

[2022-06-02 18:26] wtsnz commented on #82
Thanks for testing - to clarify, which version of OBS Studio are you using @dungi?

[2022-06-02 19:40] dungi commented on #82
27.2.3 - should be the latest

[2022-06-02 19:44] wtsnz commented on #82
Interesting, thanks for that @dungi! One last thing - was there anything of interest in the OBS Studio Log File explaining why it wouldn't load?

[2022-06-02 19:59] dungi commented on #82
Only found this:

21:58:02.724: Loading iOS Camera Plugin (version 2.9.1)
21:58:02.724: obs_register_source: Tried to register obs_source_info with size 400 which is more than libobs currently supports (392)

21:58:03.576: Source ID 'ios-camera-source' not found
21:58:03.576: Failed to create source 'iOS Camera'!

[2022-06-03 06:24] dungi commented on #82
All right :) Cause I have the bug with the "scene switch" and wanted to try out if this worked for me. I will go back to the older version. And try the new one out, if it's fixed.

[2022-06-03 16:28] Espionage724 commented on #82
I don't believe it'll change anything, but 27.2.4 is the latest currently https://github.com/obsproject/obs-studio/releases/tag/27.2.4

[2022-06-03 18:17] dungi commented on #82
You're right. I just updated... but still, doesn't work :)

[2022-08-04 10:29] Keysureshm commented on #82
28.0 beta 1 installed working fine. but 2.9.1 obs iOS camera source not working.

[2022-08-04 10:30] Keysureshm commented on #82
<img width="897" alt="Screenshot 2022-08-04 at 4 00 04 PM" src="https://user-images.githubusercontent.com/109102007/182826077-f10f1c79-8514-41b8-ba71-a4ceefbc14fe.png">

[2022-08-04 10:32] Keysureshm commented on #82
<img width="903" alt="Screenshot 2022-08-04 at 4 01 36 PM" src="https://user-images.githubusercontent.com/109102007/182826333-7ede9b6e-66a9-443f-97ea-4de0b4a598c3.png">

[2022-08-05 02:43] RoneyThomas commented on #82
I also have the same issue as the above comment but M1 Mac. I am on OBS 28.0.1 beta arm64 Mac and using the 2.9.1 Mac arm plugin.

[2022-08-05 02:46] Keysureshm commented on #82
I found there is a option, under Video capture device,u can select your apple iPhone device  to use sa a camera.it’s working good .

[2022-08-05 02:54] RoneyThomas commented on #82
@Keysureshm I see the option but isn't using the obs-ios-camera plugin, instead you are using the native OBS feature and it can only mirror your iPhone and there is no Audio.

[2022-08-05 02:56] Keysureshm commented on #82
Yes Your Right.we need to wait to update the plug-in.

[2022-08-05 02:58] Keysureshm commented on #82
I am Also using MacBook Pro M1 and IMac M1.

[2022-08-05 03:15] RoneyThomas commented on #82
On my mac fully removed the plugin by deleting it from plugin directory. Downloaded the arm64 2.9.1 version. Here is the relevant log related to it.
[code]
OBS 28 beta 1 only has libavcodec.59.18.100.dylib and the plugin is referencing libavcodec.58.134.100.dylib.
I think version bump should fix it.

[2022-08-05 03:22] Keysureshm commented on #82
Yes 👍🏻.

[2022-08-05 16:54] Keysureshm commented on #82
Thank u.

[2022-08-07 11:12] kolorfilm opened #83 "v2.9.1 says Apple Silicon compatible but doesn't work"
Hi there and keep up for the good work,

I just tried the 2.9.1 version. Installed it together with the lastest OBS 28 beta, but it seems it is not working. The plugin camera doesn't show up in OBS.

logs says:

[code]

[2022-08-10 02:45] wtsnz commented on #83
Thanks @kolorfilm

I'm on it; it looks like the latest beta of OBS Studio have updated dependencies. I'll take another look at it this week and get a new build out.

[2022-08-10 11:15] kolorfilm commented on #83
Thanks You @wtsnz 🙏

[2022-08-17 12:07] leafac opened #84 "OBS 28 Compatibility"
Hi @wtsnz,

OBS 28 is coming out soon and I’m thinking about updating. Before I do it, however, I want to check on the compatibility of the plugins that I use. Notably, OBS 28 updated their version of Qt, so plugin developers may have to do some extra steps to keep everything running.

How’s Camera for OBS Studio in that regard?

Thanks!

[2022-08-17 12:50] wtsnz commented on #84
Hey @leafac

I've been working on that this week - I expect to be able to get a build out that works with OBS 28.0 Beta 2 this evening :)

[2022-08-17 17:26] leafac commented on #84
Awesome! Thank you very much for the work & for the quick answer!

[2022-08-18 03:25] wtsnz commented on #84
Are you on Windows or MacOS?

Check out the latest [pre-release](https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.9.2) for the build 👍

[2022-08-18 03:28] wtsnz commented on #82
For people on the OBS Studio 28.0 Beta, I've cut a new build that works - https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.9.2

It's not perfect on Windows right now, but I'm looking into it.

[2022-08-18 03:32] leafac commented on #84
Great job! I’ll give it a try and report back. I’m on macOS M1 (the M1 native support is the reason why I’m looking into OBS 28 so early in the first place).

[2022-08-18 03:42] wtsnz commented on #84
Excellent, macOS is working well from my tests! Let me know if you have any issues :)

[2022-08-18 04:19] Keysureshm commented on #82
Thank u So Much Its Working Fine Now. Web Socket Also Not Working With Touch Portal On 28.0 Beta 2. I Hope It Will Also Work Fine With Beta 3 Atleast
<img width="914" alt="Screenshot 2022-08-18 at 9 47 44 AM" src="https://user-images.githubusercontent.com/109102007/185292775-664405c2-eb38-43c2-a1aa-7e7204ee02d7.png">

[2022-08-18 18:04] #83 closed

[2022-08-20 06:22] BuyMyMojo opened #85 "Constant sutter"
There is a near constant stutter in my iPhone 13's video feed

[2022-08-20 18:56] wtsnz commented on #85
Hey! Could you let me know:
- Your operating system
- which version of OBS Studio you're running
- which version of the ios-camera-source plugin you're using

I do know about an issue where on Windows using OBS 28 (RC1) and v2.9.2 of the ios-camera-plugin there is a lot of unacceptable stutter. I'm working on a fix right now.

Thanks! :)

[2022-08-21 00:05] wtsnz commented on #85
If you're on Windows please try the latest v2.9.3 release - https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.9.3

[2022-08-21 09:11] BuyMyMojo commented on #85
I did just try updating to 2.9.3 which has helped a mejority of the stuttering, this is a small stutter every second or two but that is a lot more managable

[2022-09-03 02:18] anadenatchos opened #86 "IOS Camera is gone OBS 28"
I subscribe to OBS Camera Premium.

After the OBS 28 update, the “IOS Camera” option does not appear for me.

I can no longer use my iPhone camera.

What to do?

I use Windows 11.

I installed the https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.9.3 version but when opening OBS, the option to add the IOS Camera as a source does not appear

[2022-09-03 12:49] wtsnz commented on #86
Thanks for the report @anadenatchos - I'm looking into it.

Did you use the Windows Installer, or manually install it from the zip file?

[2022-09-03 12:49] wtsnz commented on #84
OBS 28 is out now, and I've released the latest version of the plugin that works on macOS https://github.com/wtsnz/obs-ios-camera-source/releases/tag/v2.9.3

[2022-09-03 12:49] #84 closed

[2022-09-03 12:49] #82 closed

[2022-09-04 18:53] Aslanoglu commented on #86
I actually tried both, but still no dice.

[2022-09-06 09:32] KiboK21 commented on #86
j'ai le même problème

[2022-09-06 14:04] anadenatchos commented on #86
Try to uninstall the previous version in the "control panel", after doing that, install the current version.

my problem has been solved!

[2022-09-06 16:52] Massimix opened #87 "Location of the plugin on MAC"
Hi everyone, this is my first time writing. I installed the OBS studio version 28.0.1 and the obs-ios-camera-source-2.9.3-macos-universal.pkg version of the plugin on my mac. Once I installed the plugin and restarted OBS Studio I didn't see iOSCamera among the resources, looking inside the application /Applications/OBS.app/Contents/PlugIns I noticed that the plugin was not there. I looked for the

[2022-09-19 08:09] kolorfilm opened #88 "iPhone Pro 14 Pro (max) camera problems on iOS 16.0.1"
Hi there,

I know the phones are brand new, but it seems also your iOS app has this problem.:
https://www.theverge.com/2022/9/18/23359564/iphone-14-cameras-shaking-grinding-sounds-third-party-photo-apps-apple

When I start the app there is a strange sound of the camera. Basically the camera seems to works afterwards but I'm not sure. Didn't give it a longer test because I'm a bit afraid of a damag

[2022-09-23 16:51] kolorfilm commented on #88
Fixed by Apple iOS 16.0.2

[2022-09-23 16:51] #88 closed

[2022-09-24 12:25] leafac commented on #84
I upgraded to OBS 28.0.2 and obs-ios-camera-source 2.9.3, and something odd happened.

The installer (`.pkg`) put the plugin at `/Library/Application Support/obs-studio/plugins`, which used to be the correct location, but for whatever reason OBS didn’t pick it up. iOS Camera Sources weren’t available from the “Add” menu.

I noticed, however, that the [early release of the next version of obs-ndi](

[2022-10-04 18:51] ilg commented on #87
I hit basically the same issue and moving the plugin into the app bundle "fixed" it for me, too.  The problem seems to be `Library not loaded: '@rpath/libavcodec.58.134.100.dylib'`.  Below are the lines from the log that contain `ios-camera`.  In particular, the appearance of `/Users/runner/…` surprises me, since that's not a user/path on my computer.  Maybe something with the `rpath` changed betw

[2022-10-17 15:52] mattlangan commented on #87
This is amazing! Thank you so much for this report! I had assumed that my upgrade to the Ventura beta had broken the integration and that I would have to wait for a fix. This brought my iOS Camera Source back.

[2022-11-11 13:11] darkoperator commented on #87
even after moving the plugin to the /Applications/OBS.app/Contents/PlugIn after upgrading to OBS 28 and installing the latest version of the plugin it still not working for me, had to switch to OBS 27 on the mac to get it to work.

[2022-11-12 18:26] ilg commented on #87
Putting this here in large part for my own reference next time I upgrade OBS—since upgrading replaced the app bundle, it removed the copy of the plugin that was inside the app bundle.  Doing this in Terminal put a symbolic link to the normally-installed plugin into the app bundle:
[code]

[2022-11-14 13:36] BuyMyMojo commented on #85
When set to wide angel it stutters and at 60fps can even corrpt a few frames *but* when set to "dual camera" even tho it is using the same camera it does not stutter at all

[2022-11-29 19:35] dginovker commented on #31
Is there any update on upstream Linux support?